@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.kanit-bold {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.pointer {
  cursor: pointer;
}

.App {
  text-align: center;
  background-color: #fdd5b8;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
}

.head {
  display: flex;
  flex: column;
  align-items: center;
  margin: auto;
  background-color: white;
  height: 100px;
  padding: 0 30px;
}

.head-input {
  background-color: #887f7f;
  color: white;
  border-radius: 15px;
  height: 40px;
  width: 500px;
  margin: 25px auto 0;
}

.log-button {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  background-color: white;
  text-align: center;
  border-radius: 20px;
  border: 2px solid #887f7f;
  height: 40px;
  width: 150px;
  margin-left: auto;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  background-color: #feeadb;
  padding: 10px 0;
}

.nav-icon {
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.main-content {
  padding: 20px;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #7d6e6e; /* สีพื้นหลัง */
  border-radius: 20px;
  padding: 10px 15px;
  margin: 10px auto;
  width: 50%;
}

.search-input {
  background: transparent;
  border: none;
  color: white;
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  flex-grow: 1;
  outline: none;
}

.search-icon {
  color: white;
  font-size: 20px;
  margin-left: 10px;
}

.sort-button {
  background-color: #d3c1b5;
}

.tags {
  display: flex;
  gap: 20px; /* เพิ่มระยะห่างระหว่างกล่อง */
  justify-content: center; /* จัดให้อยู่ตรงกลาง */
  padding: 20px;
}

.tag {
  background-color: #887f7f;
  color: white;
  border: none;
  border-radius: 15px; /* เพิ่มความโค้ง */
  padding: 20px 30px; /* ขยายขนาดกล่อง */
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-size: 1.2rem; /* ขยายขนาดฟอนต์ */
  width: 100px; /* กำหนดความกว้างให้ใหญ่ขึ้น */
  height: 100px; /* กำหนดความสูงให้ใหญ่ขึ้น */
}

.tag.active {
  background-color: #3e3e3e;
}

.tag-icon {
  font-size: 2.5rem; /* ขยายขนาดไอคอน */
  margin-bottom: 5px; /* เพิ่มระยะห่างระหว่างไอคอนกับข้อความ */
}

.tags-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 10px;
}

.tags-header h2 {
  font-family: "Kanit", sans-serif;
  font-size: 2.3rem;
  font-weight: 700;
  color: #4a3d3d;
}

.search-tags {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 5px 10px;
}

.search-tags input {
  border: none;
  outline: none;
  font-size: 0.9rem;
  color: #4a3d3d;
}

.search-icon-small {
  font-size: 1rem;
  color: #4a3d3d;
  margin-left: 5px;
}

.sort-button {
  background: none;
  border: none;
  font-size: 1rem;
  color: #4a3d3d;
  font-family: "Kanit", sans-serif;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 10px;
}

.box {
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 50px;
  border-radius: 20px;
  border: 1px solid #3e3939;
  background-color: #3e3939;
  margin-bottom: 50px;
}

.mainS-button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.mainS-button {
  box-shadow: none;
  padding: 1%;
  font-size: 40px;
  border-radius: 20px;
  background: none;
  border: none;
}

.mainS-button:hover {
  background-color: #5b5252;
}

.mainS {
  border-width: 10px;
  background-color: #5b5252;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainS-text {
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
  align-self: flex-start;
  margin: 10;
  padding-left: 20px;
}

.mainS-content-container {
  color: #ffffff;
  border-radius: 15px;
  background-color: #887f7f;
  display: flex;
  width: 80%;
  height: 130px;
  margin-bottom: 30px;
  flex-direction: row;
  justify-content: flex-start;
  
}

.mainS-img-content {
  width: 20%;
  border-radius: 15px;
  align-self: center;
}

.mainS-content {
  width: 80%;
  border-radius: 15px;
  align-items: flex-start;
  margin: 0; 
  display: flex; 
  flex-direction: column;
}

.mainS-content h2{
  width: 80%;
  border-radius: 15px;
  align-items: flex-start;
  margin-bottom: 0; 
  display: flex; 
  flex-direction: column;
}

.selected-box {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 50px;
  background-color: #5b5252;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selected-text {
  display: flex;
  justify-content: space-between;
  margin: auto;
  color: #ffffff;
  width: 100%;
}

.Typed-text {
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
  margin: 10px;
  background: transparent;
  border: none;
  box-shadow: none;
  height: 50px;
}

.Arrange-text {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  background: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  height: 50px;
}

.selected-content-container {
  color: #ffffff;
  border-radius: 15px;
  background-color: #887f7f;
  display: flex;
  width: 80%;
  height: 130px;
  padding: 10px;
  flex-direction: column;
  margin-bottom: 30px;
}

.selected-like-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  width: 100%;
  box-sizing: border-box;
}

.selected-like-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

body {
  font-family: "Kanit", sans-serif;
  background-color: #fdd5b8;
}

