.editprofile-header {
  font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
    color: #4a3d3d;
    
}

.profileImage {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.editprofile-image{
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center; 
  justify-content: center; 
  background-color: #fff; /* สีพื้นหลังกรอบ */
  margin-left: 660px;
  margin-top: -10px;
}

.edit-image-button {
  position: absolute;
  top: 250px; /* ปรับตำแหน่ง*/
  left: 960px;
  padding: 5px 10px;
  font-size: 0.8rem;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Kanit", sans-serif;
}

.edit-image-button:hover {
  background-color: #357ab8; /* สีเมาส์ชี้ */
}

.button-group {
  display: flex;
  justify-content: center; /* จัดให้อยู่ตรงกลาง */
  gap: 20px; /* ระยะห่างระหว่างปุ่ม */
  margin-top: 20px; /* ระยะห่างด้านบน */
}
  .save-button,
  .cancel-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .save-button {
    background-color: #3e3939; /* สีพื้นหลังของปุ่ม SAVE */
    color: white;
    font-family: "Kanit", sans-serif;
    border-radius: 18px; /* ทำมุมโค้ง */
  }
  
  .cancel-button {
    background-color: #fcfbfb; /* สีพื้นหลังของปุ่ม CANCEL */
    color: #3e3939;
    font-family: "Kanit", sans-serif;
    border-radius: 18px; /* ทำมุมโค้ง */
  }
  
  .l {
    font-size: large;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* ตั้งความสูงเพื่อให้องค์ประกอบอยู่กึ่งกลางหน้า */
  }
  
  .form-group-inline {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    width: 100%;
  }
  
  label {
    width: 150px; /* ความกว้างของ label */
    margin-right: 10px;
    text-align: right;
    font-size: 1.1rem;
    margin-bottom: 5px; /* เพิ่มระยะห่างระหว่างป้ายกับกล่อง */
  }
  
  input {
    flex: 1;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: "Kanit", sans-serif;
    font-size: 1.1rem;
    border-radius: 18px; /* ทำมุมโค้ง */
  }

  .form-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto; /* จัดให้อยู่ตรงกลางหน้า */
    width: 40%;
  }

  .user-id {
    font-size: 1rem;
    color: #4a3d3d;
    margin-bottom: 10px;
    margin-top: 10px;
  }