.main-content {
  padding: 20px;
}

.ml-90 {
  margin-left: 90px;
}

.board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.board-header h2 {
  font-family: "Kanit", sans-serif;
  font-size: 2.3rem;
  font-weight: 700;
  color: #4a3d3d;
  text-align: left;
}

.create-button {
  background-color: #3e3939;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 95px;
}

/* Post styles */

.post-container {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  background-color: #5b5252;
  color: #ffffff;
  border-radius: 15px;
  padding: 15px;
}

.post {
  background-color: #887f7f;
  color: #ffffff;
  padding: 15px;
  border-radius: 10px;
}

.post h3 {
  font-size: 18px;
  font-weight: bold;
}

.post-date {
  font-size: 14px;
  margin: 15px 0;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #d3c1b5;
}

.long-text {
  white-space: nowrap; /* ทำให้ข้อความอยู่ในบรรทัดเดียว */
  overflow: hidden; /* ซ่อนข้อความที่ยาวเกิน */
  text-overflow: ellipsis; /* แสดง ... เมื่อข้อความยาวเกิน */
}

.dropdown-select {
  background-color: #887f7f;
  color: #ffffff;
  border: none;
  padding: 8px;
  border-radius: 20px;
  height: auto;
}

.reply-post {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.reply-post-box {
  background-color: #887f7f;
  color: #ffffff;
  padding-left: 15px;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: auto;
  width: 90%;
}

.tag-header h2 {
  font-family: "Kanit", sans-serif;
  font-size: 2.3rem;
  font-weight: 700;
  color: #4a3d3d;
  text-align: left;
  margin-left: 100px;
}
