.main-content {
  padding: 20px;
}

.board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.board-header h2 {
  font-family: 'Kanit', sans-serif;
  font-size: 2.3rem;
  font-weight: 700;
  color: #4a3d3d;
  text-align: left;
  margin-left: 100px;
}

.create-button {
  background-color: #3E3939;
  color: #FFFFFF;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 60px;
}

/* Post styles */

.post-container{
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  background-color: #5B5252;
  color: #FFFFFF;
  border-radius: 15px;
  padding: 15px;
}

.post {
  background-color: #887F7F;
  color: #FFFFFF;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.post h3 {
  font-size: 18px;
  font-weight: bold;
}

.post-date {
  font-size: 14px;
  margin: 10px 0;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #D3C1B5;
}