@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.kanit-bold {
font-family: "Kanit", sans-serif;
font-weight: 700;
font-style: normal;
}

.pointer {cursor: pointer;}

.App {
text-align: center;
background-color: #FDD5B8;
}

.App-logo {
height: 40vmin;
pointer-events: none;
}

.App-header {
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: calc(10px + 2vmin);
color: white;
}

/* Navbar container */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #333; */
    background-color: #f5e7db;
    padding: 10px 0;
    gap: 20px;
}
  
/* Navbar item styling */
.navbar-item {
    display: flex;
    align-items: center;
    color: #3d3535;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}
  
.navbar-item span {
    margin-left: 8px;
}
  
/* Hover effect */
.navbar-item:hover {
    /* background-color: #555; */
    background-color: #a59993;
  }
  
/* Active link styling */
.navbar-item.active {
    background-color: #333;
    color: #fff;
}

.head {
display: flex;
flex: column;
background-color: white;
height: 100px;
}

.head-input {
background-color: #887F7F;
border-radius: 15px;
height: 40px;
width: 500px;
margin-top: 25px;
margin-left: 70px;
margin-right: 20px;
}

.log-button {
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: large;
    background-color: white;
    text-align: center;
    border-radius: 20px;
    border: 2px solid #887F7F;
    height: 40px;
    width: 200px;
    margin-left: auto;
}

.log-button:hover {
  background-color: #7d6e6e;
  color: #fff;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #7d6e6e; /* สีพื้นหลัง */
    border-radius: 20px;
    padding: 10px 15px;
    margin: 10px auto;
    width: 50%;
  }
  
  .search-input {
    background: transparent;
    border: none;
    color: white;
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    flex-grow: 1;
    outline: none;
  }
  
  .search-icon {
    color: white;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .sort-button {
    background-color: #d3c1b5;
  }